.el-card {
    background-color: var(--color-background-off);
    border-color: var(--color-background-off);
    color: var(--color-text);
    &:not(:nth-child(5n)) {
      margin-right: 20px;
    }
    margin-bottom: 20px;
  }
  .card-values {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  .card-values {
    p {
      color: var(--color-primary);
      font-size: 1.5rem;
      font-weight: 500;
    }
  }