:root{
    --color-background: #161616;
    --color-light-background: #2d2d2d;
    --color-background-off: #282828;
    --color-text: #eee;
    --color-navbar-input-bg: #3e3e3e;
    --color-primary: #ff7352;
    --color-gray-light: #8d929b;
    --color-gray-medium: #bababa;

}


$colors: 
        'primary' --color-primary,
        'gray' --color-background-off,
        'white'  --color-text,
        'green' --color-green;

@each $class, $color in $colors {
    .color-#{$class}{
        color: var($color);
    }
}

@each $class, $color in $colors {
    .bg-#{$class}{
        background-color: var($color);
    }
}

@each $class, $color in $colors {
    .b-#{$class}{
        border-color: var($color);
    }
}